<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
</head>
<body>
  <%- include('header') %>

  <h1>Notes</h1>
  <form method="post" action="/create">
    <input type="text" name="text" required>
    <button type="submit">Add note</button>
  </form>
  <ul>
    <% notes.forEach(function(note) { %>
      <li><%= note.text %>
        <form method="post" action="/<%= note.id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>

    <%- include('footer') %>
  </ul>
</body>
</html>
