<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
    <title>Login</title>
  <body>
    <h1>Task Plan</h1>
    <body>
      <h2>Log In</h2>
      <form action="/login" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
      </form>

      <a href="/signup">Make a new account</a>
      </body>
      </html>