<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
    <title>Sign up</title>
  <body>
    <h1>Task Plan</h1>
    <body>
      <h2>Sign Up</h2>
      <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
      </form>
      </body>
      </html>